html, body {
    font-family: 'Playfair Display', serif;

}

h1 {
    font-weight: 700;
    font-size: 3.8rem;

}

h2 {
    font-weight: bold;

}

h3 {


}

h4 {
    font-weight: bold;
    color: #e9c4b0;
    font-style: italic;

}


.banner-section {
    margin-top: 86px;
    background-image: url(./Section-1-image.jpg);
    background-size: cover;
    background-position: center center;
    color: aliceblue;
    

}

.banner-section .jumbotron {

    background-color: rgba(0, 0, 0, 25%);
    padding: 150px 0;

}

.jumbotron h4 {

    margin-top: 15px

}

.jumbotron h1 {
    margin-bottom: 25px;

}

.line path {
    fill: #e9c4b0;

}

.short-divider {
    width: 200px;
    border-bottom: 2px solid #e9c4b0;
    margin: 10px auto 20px;

}

.three-column-container h4 {
    margin-bottom: 25px;

}

.three-column-container h2 {
    margin-top: 25px;

}

.three-column-container {
    padding: 50px 0;

}

.invite {
    background-image: url(./invitations.jpg);
    padding: 40px 0;
    background-size: cover;
    background-position: center center;
}

.invite-box {
    background: white;
    padding: 60px 180px;
    text-align: center;
    margin: 0 110px;

}

.invite-box .invite-title {
    margin: 50px 0;

}